/*
    ======================================
    Estilos para el diseño y el layout
    ======================================
*/
html {
    /* Esta propiedad hace que el desplazamiento sea suave y no brusco */
    scroll-behavior: smooth;
}

header {
    /* Gradiente suave en el header */
    background: linear-gradient(to right, #f0f0f0, #d8d8d8);
    /* Sombra más sutil */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

footer {
    /* Gradiente suave en el footer */
    background: linear-gradient(to right, #d8d8d8, #f0f0f0);
    color: #000;
    /* Sombra más sutil */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); 
}

a {
    color: #966f36;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #B69A5D;
}



/*
    ======================================
    Estilos para las tipografías
    ======================================
*/

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B69A5D;
}

p, ul, ol, li {
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 300;
    color: #444;
}

/*
    ======================================
    Estilos para imágenes y elementos
    ======================================
*/

.imagen-opiniones {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.imagen-dinamica {
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega esta línea */
}

.imagen-dinamica:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #B69A5D;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #966f36;
}
